<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}! {{anotherTitle}} {{anotherOtherTitle}}
    <ng-container *ngIf="pseudo">
      <br/>
      <span>Bonjour {{pseudo}}</span>
    </ng-container>
    <br/>
    <button *ngIf="!pseudo" (click)="login()">Connexion</button>
    <button *ngIf="pseudo" (click)="logout()">Déconnexion</button>
    <button (click)="getUsers()">Get users</button>
  </h1>
  <app-schedule></app-schedule>
</div>