/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: thinkingOfBetty;
  src: url(assets/font/Thinking_of_Betty.ttf);
}

.warn-snackbar {
  background-color: #FF784D;
}
