div[mat-dialog-actions] {
  float: right;
}

mat-form-field {
  display: block;
}

.mat-option-content {
  display: flex;
  align-items: center;

  img {
    margin-right: 5px;
  }
}

.add-for-other-button, .add-for-myself-button {
  float: right;
}
