<h1 mat-dialog-title>
  Ajout d'un créneau de stream
  <button *ngIf="displayAddForOtherButton() && !addForOther" (click)="handleOnClickAddForOther()" class="add-for-other-button" mat-button>
    Créer pour un autre
  </button>
  <button *ngIf="displayAddForOtherButton() && addForOther" (click)="handleOnClickAddForMyself()" class="add-for-myself-button" mat-button>
    Créer pour soi
  </button>
</h1>

<mat-form-field>
  <input matInput [(ngModel)]="title" type="text" placeholder="Titre du stream">
</mat-form-field>
<mat-form-field>
  <textarea matInput placeholder="Description du stream" matTextareaAutosize matAutosizeMinRows="1"
            matAutosizeMaxRows="5" [(ngModel)]="description"></textarea>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Jeu du stream (facultatif)" aria-label="Jeu" [matAutocomplete]="auto" [formControl]="gameControl">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let game of filteredGames" [value]="game.label">
      <span class="mat-option-content"><img *ngIf="game.base64Img" width="36px" height="36px" [src]="game.base64Img"><span>{{game.label}}</span></span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-form-field *ngIf="addForOther">
  <input matInput placeholder="Streamer" aria-label="Streamer" [matAutocomplete]="auto" [formControl]="streamerControl">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let streamer of filteredStreamers" [value]="streamer.pseudo">
      <span class="mat-option-content">{{streamer.pseudo}}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button (click)="createSlot()">Ajouter le slot</button>
</div>